In [19]:
import pandas as pd
data = pd.read_csv('spam.csv')
data

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [20]:
data['target'] = data['Category'].apply(lambda x:1 if x=='spam' else 0)

#data.drop(columns=['Category'],axis=1)
data.drop(columns=data.iloc[:,:1],axis=1, inplace=True)
data

                                                Message  target
0     Go until jurong point, crazy.. Available only ...       0
1                         Ok lar... Joking wif u oni...       0
2     Free entry in 2 a wkly comp to win FA Cup fina...       1
3     U dun say so early hor... U c already then say...       0
4     Nah I don't think he goes to usf, he lives aro...       0
...                                                 ...     ...
5567  This is the 2nd time we have tried 2 contact u...       1
5568               Will ü b going to esplanade fr home?       0
5569  Pity, * was in mood for that. So...any other s...       0
5570  The guy did some bitching but I acted like i'd...       0
5571                         Rofl. Its true to its name       0

[5572 rows x 2 columns]

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [28]:
vectorizered = cv.fit_transform(data.Message)
X = vectorizered.toarray()
X

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [30]:
y= data.target
y

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: target, Length: 5572, dtype: int64

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [36]:
len(X_train)

4457

In [37]:
len(X_test)

1115

In [38]:
from sklearn.naive_bayes import MultinomialNB,BernoulliNB
mnb = MultinomialNB()
bnb = BernoulliNB()

In [42]:
mnb.fit(X_train,y_train)
mnb.score(X_test,y_test)

0.9802690582959641

In [41]:
bnb.fit(X_train,y_train)
bnb.score(X_test,y_test)

0.979372197309417

In [49]:
message = ['Hello, this mesage for you. Thank you for looking here.']

message = cv.transform(message).toarray()
message

array([[0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [50]:
mnb.predict(message)

array([0], dtype=int64)

In [55]:
from sklearn.pipeline import Pipeline

line = Pipeline([
    ('vectorizered',CountVectorizer()),
    ('mnb',MultinomialNB())
])

In [57]:
line.fit(data.Message,data.target)

Pipeline(steps=[('vectorizered', CountVectorizer()), ('mnb', MultinomialNB())])

In [59]:
line.score(data.Message[:500],data.target[:500])

0.996

In [62]:
message_2 = ['Hello, this mesage for you. Thank you for looking here. Again :)']

line.predict(message_2)

array([0], dtype=int64)