In [52]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [53]:
df = pd.read_csv('hiring.csv')

In [54]:
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [55]:
df.isnull().sum()

experience                    2
test_score(out of 10)         1
interview_score(out of 10)    0
salary($)                     0
dtype: int64

In [56]:
df['test_score(out of 10)'].median()

8.0

In [57]:
df.experience = df.experience.fillna("zero")
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [58]:
from word2number import w2n

In [59]:
df.experience = df.experience.apply(w2n.word_to_num)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [60]:
import math

median_test_score =math.floor(df['test_score(out of 10)'].median())
median_test_score

8

In [61]:
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(median_test_score)
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    8.0                           7      72000
7          11                    7.0                           8      80000

In [62]:
X = df.drop(columns='salary($)',axis=1)
X

   experience  test_score(out of 10)  interview_score(out of 10)
0           0                    8.0                           9
1           0                    8.0                           6
2           5                    6.0                           7
3           2                   10.0                          10
4           7                    9.0                           6
5           3                    7.0                          10
6          10                    8.0                           7
7          11                    7.0                           8

In [63]:
y = df[['salary($)']]
y

   salary($)
0      50000
1      45000
2      60000
3      65000
4      70000
5      62000
6      72000
7      80000

In [65]:
reg = LinearRegression()
reg.fit(X,y)

LinearRegression()

In [66]:
reg.coef_

array([[2812.95487627, 1845.70596798, 2205.24017467]])

In [67]:
reg.intercept_

array([17737.26346434])

In [68]:
reg.predict([[2,9,6]])

d:\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[53205.96797671]])

In [69]:
reg.predict([[12,10,10]])

d:\Anaconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[92002.18340611]])

In [1]:
import random

def fitness(individual, jobs, machines):
    # Her makinenin işlem süresi hesaplanır
    machine_times = [0] * machines
    for job in individual:
        for i in range(machines):
            machine_times[i] += jobs[job][i]
    # En büyük işlem süresi bulunur ve uygunluk değeri olarak döndürülür
    return max(machine_times)

def create_population(size, jobs):
    # Rastgele başlangıç popülasyonu oluşturulur
    population = []
    for i in range(size):
        individual = list(range(len(jobs)))
        random.shuffle(individual)
        population.append(individual)
    return population

def selection(population):
    # Turnuva seçimi yöntemi uygulanır
    tournament_size = 3
    tournament = random.sample(population, tournament_size)
    return min(tournament, key=lambda x: fitness(x, jobs, machines))

def crossover(parent1, parent2):
    # Tek noktalı çaprazlama işlemi uygulanır
    point = random.randint(0, len(parent1)-1)
    child = parent1[:point] + [x for x in parent2 if x not in parent1[:point]]
    return child

def mutation(individual):
    # Swap mutasyonu uygulanır
    index1, index2 = random.sample(range(len(individual)), 2)
    individual[index1], individual[index2] = individual[index2], individual[index1]
    return individual

def genetic_algorithm(population_size, jobs, machines, generations):
    population = create_population(population_size, jobs)
    for i in range(generations):
        new_population = []
        for j in range(population_size):
            parent1 = selection(population)
            parent2 = selection(population)
            child = crossover(parent1, parent2)
            if random.uniform(0, 1) < 0.1:
                child = mutation(child)
            new_population.append(child)
        population = new_population
    return min(population, key=lambda x: fitness(x, jobs, machines))

# Örnek girdiler
jobs = [[4, 5, 2], [2, 1, 6], [1, 3, 7], [6, 2, 5], [3, 7, 1]]
machines = 3

# Genetik algoritma kullanarak optimize edilen çözüm
best_solution = genetic_algorithm(population_size=50, jobs=jobs, machines=machines, generations=100)
print(best_solution)

[3, 4, 0, 2, 1]

In [2]:
import random

# Restoran menüsü ve kalori değerleri
menu = {
    'Köfte': 600,
    'Izgara Tavuk': 400,
    'Sebzeli Noodle': 800,
    'Salata': 200,
    'Makarna': 700,
    'Kebap': 550,
    'Köri': 850,
    'Tavuk Sote': 500,
    'Biftek': 900,
    'Tavuk Burger': 350
}

# Hedef kalori sınırı
target_calories = 2000

# Popülasyon boyutu
population_size = 100

# Mutasyon olasılığı
mutation_prob = 0.1

# Fitness fonksiyonu
def fitness(individual):
    calories = sum([menu[key] for key in individual])
    return 1 / abs(target_calories - calories)

# Başlangıç popülasyonunu oluşturma
def create_population():
    population = []
    for i in range(population_size):
        individual = random.sample(menu.keys(), random.randint(1, len(menu)))
        population.append(individual)
    return population

# Turnuva seçimi yöntemi
def selection(population):
    tournament_size = 3
    tournament_indices = random.sample(range(len(population)), tournament_size)
    tournament_fitnesses = [fitness(population[i]) for i in tournament_indices]
    return population[tournament_indices[tournament_fitnesses.index(max(tournament_fitnesses))]]

# Tek noktalı çaprazlama işlemi
def crossover(parent1, parent2):
    point = random.randint(0, len(parent1)-1)
    child = parent1[:point] + parent2[point:]
    return child

# Swap mutasyonu
def mutation(individual):
    for i in range(len(individual)):
        if random.uniform(0, 1) < mutation_prob:
            j = random.randint(0, len(individual)-1)
            individual[i], individual[j] = individual[j], individual[i]
    return individual

# Yeni nesil popülasyonunu oluşturma
def create_new_population(population):
    new_population = []
    fitnesses = [fitness(individual) for individual in population]
    for i in range(population_size):
        parent1 = selection(population)
        parent2 = selection(population)
        child = crossover(parent1, parent2)
        child = mutation(child)
        new_population.append(child)
    return new_population

# Genetik algoritma işleminin yürütülmesi
def genetic_algorithm():
    population = create_population()
    for i in range(100):
        population = create_new_population(population)
    best_individual = max(population, key=fitness)
    return best_individual

# En iyi yemek setini yazdıralım
best_set = genetic_algorithm()
best_calories = sum([menu[key] for key in best_set])
print("En iyi yemek seti: ")
print(best_set)
print("Toplam kalori: ", best_calories)

C:\Users\necme\AppData\Local\Temp\ipykernel_12332\3294441004.py:35: DeprecationWarning: Sampling from a set deprecated
since Python 3.9 and will be removed in a subsequent version.
  individual = random.sample(menu.keys(), random.randint(1, len(menu)))

ZeroDivisionError: division by zero

In [10]:
import random

# Restoran menüsü ve kalori değerleri
menu = {
    'Köfte': 600,
    'Izgara Tavuk': 400,
    'Sebzeli Noodle': 800,
    'Salata': 200,
    'Makarna': 700,
    'Kebap': 550,
    'Köri': 850,
    'Tavuk Sote': 500,
    'Biftek': 900,
    'Tavuk Burger': 350
}

# Hedef kalori sınırı
target_calories = 2000

# Popülasyon boyutu
population_size = 100

# Mutasyon olasılığı
mutation_prob = 0.1

# Fitness fonksiyonu
def fitness(individual):
    calories = sum([menu[key] for key in individual])
    if calories == target_calories:
        return 1.0
    else:
        return 1 / abs(target_calories - calories)

# Başlangıç popülasyonunu oluşturma
def create_population():
    population = []
    for i in range(population_size):
        individual = random.sample(menu.keys(), random.randint(1, len(menu)))
        population.append(individual)
    return population

# Turnuva seçimi yöntemi
def selection(population):
    tournament_size = 3
    tournament_indices = random.sample(range(len(population)), tournament_size)
    tournament_fitnesses = [fitness(population[i]) for i in tournament_indices]
    return population[tournament_indices[tournament_fitnesses.index(max(tournament_fitnesses))]]

# Tek noktalı çaprazlama işlemi
def crossover(parent1, parent2):
    point = random.randint(0, len(parent1)-1)
    child = parent1[:point] + parent2[point:]
    return child

# Swap mutasyonu
def mutation(individual):
    for i in range(len(individual)):
        if random.uniform(0, 1) < mutation_prob:
            j = random.randint(0, len(individual)-1)
            individual[i], individual[j] = individual[j], individual[i]
    return individual

# Yeni nesil popülasyonunu oluşturma
def create_new_population(population):
    new_population = []
    fitnesses = [fitness(individual) for individual in population]
    for i in range(population_size):
        parent1 = selection(population)
        parent2 = selection(population)
        child = crossover(parent1, parent2)
        child = mutation(child)
        new_population.append(child)
    return new_population

# Genetik algoritma işleminin yürütülmesi
def genetic_algorithm():
    population = create_population()
    for i in range(100):
        population = create_new_population(population)
    best_individual = max(population, key=fitness)
    return best_individual

# En iyi yemek setini yazdıralım
best_set = genetic_algorithm()
best_calories = sum([menu[key] for key in best_set])
print("En iyi yemek seti: ")
print(best_set)
print("Toplam kalori: ", best_calories)

En iyi yemek seti:
['Sebzeli Noodle', 'Tavuk Sote', 'Makarna']
Toplam kalori:  2000

C:\Users\necme\AppData\Local\Temp\ipykernel_12332\890558327.py:38: DeprecationWarning: Sampling from a set deprecated
since Python 3.9 and will be removed in a subsequent version.
  individual = random.sample(menu.keys(), random.randint(1, len(menu)))